input{
    margin: 1rem auto;
    display: block;
    width: 20rem;
    height: 5rem;
    border: 1px solid black;

    font-size: 3rem;
    padding: 1rem;
    box-sizing: border-box;

    text-align: center;
    outline: none;

    border: 3px solid black;
}