body{
    --cBody-width: 15rem;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calcBody{
    width: var(--cBody-width);
    height: calc(var(--cBody-width)*1.25);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 1px solid black;
    background-color: #b7b7b7;

    border-radius: 0.5rem;
}

.viewer{
    width: 90%;
    height: 20%;

    background-color: #dbecef;
    border: 1px solid black;

    font-size: 2rem;
    text-align: right;

    display: flex;
    justify-content: right;
    align-items: center;

    padding: 1rem;
    box-sizing: border-box;
}

.btnsLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
}

.memBtn{
    width: 20%;
    height: 100%;
    text-align: center;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

    border: 1px solid black;
    background-color: white;

    border-radius: 0.25rem;
}

.memBtn:hover{
    background-color: #e1e1e1;
    box-shadow: inset 0 0 5px #283d38;
}

.memBtn:active{
    background-color: #b7b7b7;
    box-shadow: inset 0 0 5px #283d38;
}

.btnReset{
    width: 25%;
}